:root{
    --color1: rgb(246, 216, 9);
    --color2: rgb(188,224,138);
}

.slider{
    
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 18px;
    padding-bottom: 19px;
}

.thumb{
    background-color: var(--color1);
    cursor:pointer;
    width:20px;
    height: 20px;
    border-radius: 20px;
  
    
}

.slider.green{
    border: 2px solid var(--color2);
}
.slider.green .thumb{
    background-color: var(--color2);
}

.work-setting { 
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 60px;
    padding: 20px;
 
  
 } 

 



 



