.slider{
    height: 20px;
    border: 2px solid var(--red);
    border-radius: 20px;
}

.thumb{
    background-color: var(--red);
    cursor:pointer;
    width:20px;
    height: 20px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid var(--green);
}
.slider.green .thumb{
    background-color: var(--green);
}

/* .work-setting{
    margin-left: 60px;
    margin-bottom: 40px;
} */
