@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

:root {
  --main-color: #569099;
  --secondary-color: #f6d809;
  --tertiary-color: #030303;

  --text-color: wheat;
}

.quiz-div {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: Caveat, cursive;
}

.quiz-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
}

.quiz-header-text {
  font-size: 62px;
  font-weight: 100;
  color: var(--tertiary-color);
}

.question-one {
  max-height: 100px;
  min-height: 30px;
  padding-right: 10px;
}

.question-two {
  max-height: 100px;
  min-height: 30px;
  padding-left: 10px;
}
.snippet {
  width: 100%;
  height: 40%;
}

.glasses {
  max-height: 100px;
  height: 20%;
}

.question-p {
  font-size: 32px;
}

.answers {
  font-size: 32px;
}

/* mobile */
@media (max-width: 768px) {
  .quiz-div {
    flex-direction: column;
    width: 100%;
  }
  .question-one {
    display: none;
  }
}

.question-here {
  font-size: 32px;
}

.answer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
