@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.interview-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black;
  /* position: relative; */
  width: 50%;
  height: 100%;
  background-color: #569099;
  /* left: 50vw;
  top: 50px; */
  /* margin-top: -700px; */
  text-align: center;
  font-family: Caveat, cursive;
}

.header-div {
  border-bottom: solid black;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: #f6d809;
  height: 250px;
  /* width: 100%;
  z-index: 2; */
}

.header-text {
  font-size: 62px;
  font-weight: 100;
}

.prep-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  margin-left: 60px;
  margin-right: 60px;
  /* top: 250px; */
  /* z-index: 1; */
}

.prep-text {
  display: flex;
  font-size: 48px;
  color: wheat;
}

.star-one {
  /* position: absolute; */
  z-index: 3;
  max-height: 100px;
  /* padding-right: 175px;
  margin-top: 20px; */
}

.star-two {
  /* position: absolute; */
  z-index: 4;
  max-height: 100px;
  /* padding-left: 175px;
  margin-top: 20px; */
}
