@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.interview-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black;
  /* position: relative; */
  width: 50%;
  height: 100%;
  background-color: #569099;
  /* left: 50vw;
  top: 50px; */
  /* margin-top: -700px; */
  text-align: center;
  font-family: Caveat, cursive;
}

.header-div {
  border-bottom: solid black;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6d809;
  /* height: 250px; */
  /* width: 100%;
  z-index: 2; */
}
/* added */
.header-div h1 {
  overflow-wrap: break-word;

  color:  #030303;
  /* text-shadow: 2px 2px 2px #569099; */

}
.header-text {
  font-size: 62px;
  font-weight: 100;
}

.prep-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  /* margin-left: 60px;
  margin-right: 60px; */
  /* top: 250px; */
  /* z-index: 1; */
}

.prep-text {
  display: flex;
  position: relative;
  overflow-wrap: break-word;
  font-size: 62px;
  color: wheat;
  margin-left: 30px;
  margin-right: 30px;
  bottom: 25%;
}

.star-one {
  /* position: absolute; */
  /* z-index: 3; */
  max-height: 100px;
  height: 100%;
  /* padding-right: 175px;
  margin-top: 20px; */
}

.star-two {
  /* position: absolute; */
  /* z-index: 4; */
  max-height: 100px;
  height: 100%;

  /* padding-left: 175px;
  margin-top: 20px; */
}
