@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.interview-div {
  display: flex;
  border: solid black;
  justify-content: center;
  position: relative;
  max-width: 50vw;
  height: 700px;
  background-color: #569099;
  left: 50vw;
  top: 50px;
  margin-top: -700px;
  text-align: center;
  font-family: Caveat, cursive;
}

.header-div {
  border-bottom: solid black;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #f6d809;
  width: 100%;
  height: 150px;
  z-index: 2;
}

.header-text {
  font-size: 62px;
  font-weight: 100;
}

.prep-div {
  position: absolute;
  margin-left: 60px;
  margin-right: 60px;
  top: 250px;
  z-index: 1;
}

.prep-text {
  display: flex;
  font-size: 48px;
  color: wheat;
}

.star-one {
  z-index: 3;
  max-height: 100px;
  padding-right: 175px;
  margin-top: 20px;
}

.star-two {
  z-index: 4;
  max-height: 100px;
  padding-left: 175px;
  margin-top: 20px;
}
